<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/main.css"/>
</head>
<body>
  <h1>Add a new Certificate Authority</h1>
  <form action="/ca/new" method="POST">
    <label for="name">Name</label>
    <input name="name" type="text" autofocus/>
    <label for="expires">Expires</label>
    <input name="expires" type="date"/>
    <fieldset>
      <h3>Subject</h3>
      <label for="subject[organization]">Organization</label>
      <input name="subject[organization]"/>
      <label for="subject[country]">Country</label>
      <input name="subject[country]"/>
      <label for="subject[province]">Province</label>
      <input name="subject[province]"/>
      <label for="subject[locality]">Locality</label>
      <input name="subject[locality]"/>
      <label for="subject[street_address]">Street Address</label>
      <input name="subject[street_address]"/>
      <label for="subject[postal_code]">Postal Code</label>
      <input name="subject[postal_code]"/>
    </fieldset>
    <input type="submit" value="Create"/>
  </form>
</body>
</html>
